:root {
    --background-color: #f5f5f5;
    --primary-color: #333;
    --secondary-color: #e9ebee;
    --header-background-color: #008069;
    --border-color: rgba(25, 25, 25, 0.32);
    --sent-message-color: #e7fed8;
    --received-message-color: #fff;
    --input-border-color: #ccc;
    --icon-color: #999;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
}

.chat-header-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    margin: 0;
}

.header-actions {
    display: flex;
    gap: 10px;
}

.chat-main {
    padding: 20px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    background-color: var(--secondary-color);
}

.message {
    padding: 10px;
    background-color: var(--received-message-color);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 50%;
    word-wrap: break-word;
}

.message-time span {
    color: var(--icon-color);
    font-size: 0.8em;
    margin-top: 3px;
}

.message.sent {
    background-color: var(--sent-message-color);
    margin-left: auto;
    text-align: right;
}

.message.received {
    background-color: var(--received-message-color);
    margin-right: auto;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--border-color);
}

.form-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    outline: none;
    resize: none;
    word-wrap: break-word;
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.message-time {
    display: flex;
    align-items: center;
    justify-content: end;
}

#back {
    margin-right: 15px;
}

