.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--border-color);
    flex-shrink: 0;
}

.form-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    outline: none;
    resize: none;
    word-wrap: break-word;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.send {
    background-color: #008069;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.send:hover {
    background-color: #04bd9b;
}

.attachment:hover {
    color: #008069;
    cursor: pointer;
}

// .camera,
// .mic {
//     &:hover {
//         color: #008069;
//         cursor: pointer;
//     }
// }

// .mic.active,
// .camera.active {
//     color: red;
//     animation: pulse 1s infinite;
// }

// @keyframes pulse {
//     0% {
//         transform: scale(1);
//     }
//     50% {
//         transform: scale(1.2);
//     }
//     100% {
//         transform: scale(1);
//     }
// }

// .audio-recorder {
//     display: flex;
//     align-items: center;
//     gap: 10px;
// }

// .recording-indicator {
//     display: flex;
//     align-items: center;
//     gap: 8px;
//     font-size: 14px;
//     color: red;
//     font-weight: bold;
// }

// .dot {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     background-color: red;
//     animation: blink 1s infinite;
// }

// @keyframes blink {
//     0%,
//     100% {
//         opacity: 1;
//     }
//     50% {
//         opacity: 0.5;
//     }
// }

// .icon {
//     cursor: pointer;
//     font-size: 24px;
// }

// .stop-button {
//     padding: 6px 12px;
//     background-color: #d9534f;
//     color: white;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
// }

// .stop-button:hover {
//     background-color: #c9302c;
// }

.recording-indicator {
    color: red;
    font-weight: bold;
    margin-right: 10px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.mic {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
}

.stop {
    color: green;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
}
