.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
    background-color: #008069;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-image {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
