// .chat-container {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

// .main {
//     display: flex;
//     flex-direction: column;
//     padding: 20px;
//     overflow-y: auto;
//     flex-grow: 1;
//     background-color: var(--secondary-color);
// }

// .message {
//     padding: 10px;
//     background-color: var(--received-message-color);
//     border-radius: 5px;
//     margin-bottom: 10px;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//     width: fit-content;
//     max-width: 50%;
//     word-wrap: break-word;
// }

// .message-time svg {
//     color: var(--icon-color);
//     font-size: 0.8em;
//     margin-top: 3px;
// }

// .message-time span {
//     color: var(--icon-color);
//     font-size: 0.8em;
//     margin-top: 3px;
// }

// .message.sent {
//     background-color: var(--sent-message-color);
//     margin-left: auto;
//     text-align: right;
// }

// .message.received {
//     background-color: var(--received-message-color);
//     margin-right: auto;
// }

// svg {
//     cursor: pointer;
//     font-size: 24px;
//     margin-left: 10px;
// }

// .message-time {
//     display: flex;
//     align-items: center;
//     justify-content: end;
// }

// // .message {
// //     opacity: 0;
// //     transform: scale(0.8);
// //     transition: opacity 0.4s ease, transform 0.4s ease;
// // }

// // .message.visible {
// //     opacity: 1;
// //     transform: scale(1);
// // }

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);

    .main {
        flex-grow: 1;
        padding: 20px;
        overflow-y: auto;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        gap: 10px; // расстояние между сообщениями
    }
}
