.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
    color: #ccc;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s;
    &:hover {
        border-color: #aaa;
        color: #aaa;
    }
}

.uploads {
    padding: 10px;
}

.SelectFile {
    background-color: #008069;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.action {
    display: flex;
    gap: 10px;

    .btn {
        background-color: #008069;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}
